#content-head { 
display:none;
}
#content-page {
	font-family: 'Oxygen', sans-serif;
	padding:0!important;
	font-size:14px;
}
.plugin-header {
	padding:25px;
	margin:0 -15px;
	background:#1590D2;
	color:#fff;
}
.plugin-header h1 {
	margin:0;
}
.sub-header {
	margin:0 -15px;
	padding:0 25px;
	background:#f1f1f1;
	border-bottom:1px solid #e5e5e5;
}
.sub-header ul {
	margin:0;
	padding:0;
	list-style:none;
}
.sub-header ul li {
	float:left;
	font-weight:600;
}
.sub-header ul li a {
	padding:13px 15px;
	display:block;
	color:#333;
}
.sub-header ul li.active {
	margin-bottom:-1px;
}
.sub-header ul li.active a {
	background:#fff;
	color:#1590D2;
	border-bottom:1px solid #fff;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	
}
.sub-header ul li:first-child a {
	
}

.post-search {
	margin-bottom:15px;
	float:right;
}
.post-search input.input-has-select {
	border:1px solid #ddd;
	border-radius:3px;
}
.plugin-content {
	padding:25px 15px;
}

.plugin-content thead,
.plugin-content tfoot {
	background:#f7f7f7;
}
.plugin-content thead th, 
.plugin-content tfoot th {
	padding:15px;
}
.plugin-content tbody td {
	padding:7px 15px;
}
.plugin-content tbody td.title {
  font-size: 16px;
  padding: 0;
}
.plugin-content tbody td.title p {
  margin: 0;
  padding: 10px 15px;
  
}
.plugin-content .form-actions {
	margin-top:30px;
}

.plugin-content .has-pagination > a {
  border: 1px solid;
  margin-right: 5px;
}

.plugin-footer {
	font-size:90%;
	margin-top:25px;
	border-top:1px solid #ddd;
	padding-top:15px;
}

.control-group label {
	margin-bottom:5px;
	display:inline-block;
}
.control-group {
	margin-bottom:15px;
}

.input-text, input[type="text"], 
.input-password, input[type="password"],
textarea,
select {
	width:300px;
}
textarea {
	height:150px;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.leftSide {
  float: left;
  width: 825px;
}
.rightSide {
  float: right;
  width: 350px;
}
tr.private {
	background: #ffdcdc;
}
.col5 {
	width:48%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}