@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic");
* {
  margin:0;
  padding:0;
  border:0;
  outline:medium none;
  list-style:none
}

.accordion {
  width:100%;
  margin: 0 auto
}

.accordion .accordion_item {
  margin-bottom:1px;
  position:relative
}

.accordion .title_block {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor:pointer;
  background: #6BAAB6;
  padding:10px 55px 10px 15px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0
}

.accordion .title_block:before {
  content:'';
  height:8px;
  width:8px;
  display:block;
  border:2px solid #fefefe;
  border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
  right:20px;
  top:15px
}

.accordion .active_block .title_block:before {
  border:2px solid #fefefe;
  border-left-width:0;
  border-bottom-width:0;
  top:18px
}
.accordion .title_block:hover {
  background: #7ED1E1; 
}

.accordion .active_block .title_block {
  background: #7ED1E1;
  color:#fefefe
}

.accordion .info {
  display:none;
  padding:10px 15px;
  overflow: hidden;
  background:#F3F3F3
}

.accordion .info_item {
  margin-bottom:10px
}

.accordion .info img {
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.large-img {
    width: 100%;
    margin-bottom: 10px;
}

.img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
.img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}

.code-block {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
    border: 1px dashed #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ECEFF1;
}
.php-tag {
    color: #FF0000;
    font-weight: bold;
}
.php-function {
    color: #008000;
    font-weight: normal;
}
.php-function-data {
    color: #DD0000;
}