.credit-osclasspro{clear: both;background: #FFF;padding: 20px;height: 35px;}
.pro_logo {display: block;float:left;opacity:0.7;margin-top:-12px;}
.pro_logo:hover  {opacity:1;}
.follow {float:right;color: #333;margin-top: 8px;}
.follow ul li:first-child {color: #333;font-weight: bold;position: relative;top: 3px;margin: 0 0 0 20px;}
.follow ul li {float: left;margin: -15px 5px 5px 5px;}
.follow li a {background-color: #333;opacity: 0.7;text-align: center;line-height: 1px;display: block;border-radius: 100%;font-size: 13px;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;}
.follow li a:hover {opacity: 1;}
#item-form #left-side {
    margin-right:10px;
}
input[type="text"] {
    width: 180px !important;
}
.usl-manage-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 1px #ddd;
    min-height: 400px;
}
.usl-manage-menu {
    float:left;
    top:0px;
    left: 0px;
    border-right: solid 1px #ddd;
    width: 300px;
    height: 100%;

}
.usl-manage-content td img{width:40px;}
.usl-manage-menu ul {
    margin:0px;
    padding:0px;
}
.usl-manage-menu ul li {
    border-bottom: solid 1px #ddd;
    background-color: #ECEFF1;
}
.usl-manage-menu ul li a{
    display: block;
    color:#474749;
    text-decoration: none;
    padding: 24px 30px;
    height: 1.3em;
    font-size: 1.2em;
}
.usl-manage-menu ul li.active {
    font-weight: 500;
    text-decoration: underline;
    font-size: 1.3em;
    background-color: rgb(243, 243, 243);
}
.usl-manage-menu ul li.active a {
    cursor:default;
}
.usl-manage-menu ul li a:hover{
    border-color: #3f51b5;
    background-color: rgba(63, 81, 181, 0.1);
}
.usl-manage-content {
    margin-left: 300px;
    padding: 0;
    min-height: 400px;
    border-left: solid 2px #ddd;
}

.table-no-border, .table-no-border tr, .table-no-border tr td, .table-no-border th {
    border: none;
    vertical-align: middle;
}

.col-status {
    text-align: center;
}
.col-actions {
    width:170px;
}
.col-actions a {
    float:left;
    width: 100%;
    clear:both;
    text-align: center;
    margin:3px auto;
}

.circle-custom {
    top: 3px;
    color:black;
}

.usl-section {
    border-bottom: solid 1px #ddd;
    color: #474749;

}
.usl-section h3 {
    background-color: #f3f3f3;
    margin: 0;
    padding: 1em;
    text-transform: uppercase;
}
.usl-section .content {
    position: relative;
    margin: 1em;
}

.usl-section .short-description ul {
    display: inline-block;
    text-align: center;
    padding:0;
}
.usl-section .short-description ul li{
    float:left;
    margin: 1em;
    max-width: 355px;
}

.usl-section .short-description {
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px;

}
.usl-section .short-description  ul li a {
    display: inline-block;
    background-color: #ECEFF1;
    color: #474749;
    text-decoration: none;
    padding: 24px 30px;
    height: 1.3em;
    font-size: 1.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.usl-section .short-description  ul li a:hover {
    border-color: #3f51b5;
    background-color: rgba(63, 81, 181, 0.1);
}

.usl-section .float-right {
    margin-right: 30px;
}
.usl-section span.title {
    font-size: 1.2em;
    font-weight: 600;
    margin:4px 8px;
    margin: 22px 8px;
    display: inline-block;
}
.create-usl {
    display: inline-block;
    padding:1em;
}
.usl-manage-content.usl-add .usl-section {
    width: 49%;
    float:left;
    border-top:solid 2px #ddd;
    border-bottom: 0px;
    text-align: center;

   height: 400px;

    margin: 0.9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}
.usl-manage-content.usl-add .usl-section .content{
    margin:0px;
    padding:1em;
}
.usl-manage-content.usl-add .usl-section .content:hover {
    background-color: rgba(243,243,243, 0.3);
}

.col-status-border-item {
    background-color: #d9edf7;
}
.col-status-border-user {
    background-color: #dff0d8;
}
.col-status-border-stats {
    background-color: #fcf8e3;
}
a#sort:hover {
    cursor: move;
}
.ph-highlights {
    background-color: #00bed6;
    opacity: 0.3;
}
.load {
	background:url(../images/loading.gif) center no-repeat;
    width:66px;
    height:66px;
    position:fixed;
    left:50%;
    top:50%;
    z-index:10;
    display: none;
}
.res {
	position:fixed;
    left:47%;
    top:52%;
    z-index:10; 
    width: 200px;
    text-align: center;
    padding:10px; 
    background: none repeat scroll 0 0 #F0FAF1 !important;
    border: 1px solid #ADC092;
    color: #58715E !important;
    display: none;
}