.ico.ico-osc_blog { 
	background-image: url(../images/big.png) !important;
	background-position: 9px -39px !important;
}

li.current .ico.ico-osc_blog, li.hover .ico.ico-osc_blog {
	background-image: url(../images/big.png) !important;
	background-position: 9px 4px !important;
}

body.compact .ico.ico-osc_blog {
	background-image: url(../images/spilt.png) !important;
	background-position: -1px -48px !important;
}

body.compact li.current .ico.ico-osc_blog, 
body.compact li.hover .ico.ico-osc_blog {
	background-image: url(../images/spilt.png) !important;
	background-position: -1px -5px !important;
}