#blog * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/** Blog **/
.main-entry .post {
	margin-bottom:12px;
	padding:15px;
	border:1px solid #e5e5e5;
	border-radius:5px;
	background:#fff;
}
.post h3.entry-title,
.post h3.entry-title a {
	text-decoration:none;
	margin:0 0 5px 0;
}
.post .entry-meta {
	margin-bottom:12px;
	font-size:12px;
	color:#666;
}
.post .entry-meta span {
	color:#333;
	margin-right:10px;
}
.post .entry-meta span i {
	color:#aaa;
	margin-right:2px;
}
.post .entry-content {
	margin-bottom:15px;

}

.post .social-share a {
	background:#e5e5e5;
	border:1px solid #ddd;
	font-size:11px;
	padding:5px 10px;
	text-decoration:none;
}
/***
Sidebar
***/
#blog #sidebar {
	width:100%;
	float:none;
}
#sidebar .widget-box {
	margin-bottom:10px;
	background:#fff;
	border:1px solid #ddd;
	padding:15px;
}
#sidebar .widget-box h3 {
	margin:0 0 10px 0;
}
#sidebar ul {
	padding:0;
	margin:0;
	list-style:none;
}
#sidebar ul li {
	padding:3px 0;
}
#sidebar ul > li > ul {
	padding-left:10px;
}
/***
Defaults
***/
.float_left {
	float:left;
}
.float_right {
	float:right;
}
.row {
	margin-left:-15px;
	margin-right:-15px;
}
.col-md-3,
.col-md-9,
.col-xs-12 {
	float:left;
	padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
	width: 25%;
}
.col-md-9 {
	width: 75%;
}
@media (max-width:768px){
	.col-xs-12 {
		width:100%;
	}
	#blog img {
		width:100%;
	}
}
.widget-box:before,
.widget-box:after,
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content:"";
	clear:both;
	display:table;
}

#map-title{
	font-size: 14px;
}

#map-street {
	font-size: 12px;
}

#map_block_container {
	width: 100%;
	position: relative;
	flex-direction: row;
}

#map_block_image{
	float: left;
	width: 70%;
	padding: 5px;
}

#map_item_image {
	width:100%;
}

#map_block_text{

	float: left;
	width: 30%;
	margin-top: 20px;
	margin-left: 0;
}

#map_item_url {
	display: block;
	text-align: center;
	margin-top: 50px;
}