input[type="text"], input[type="password"] {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    color: #74777b;
    text-shadow: 1px 1px 0 #FFF;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus {
    background: rgba(128,197,241,0.5);;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}
input[type="text"]:hover, input[type="password"]:hover {
    background: rgba(128,197,241,0.5);;
    color: #414848;
}
a {
    color: #35403c;
}
a:hover {
    color: #29322f;
    text-decoration: none;
}
label:hover {
    cursor: pointer;
}
.clear {
    clear: both;
}
.ipp-main {
    position: relative;
}
.wrapper {
    background-color: rgba(128,197,241,0.25);
    position: relative;
    transition: all .3s ease-in-out;
}
.navigation {
    background: #35403c;
    height: 100%;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: 5;
    white-space: nowrap;
}
.navigation, .navigation a {
    color: white;
}
.navigation.expanded {
    background: #1e2422;
    box-shadow: 100px 0 300px 300px rgba(0, 0, 0, 0.5);
}
.navigation.expanded + .wrapper {
    transform: translate3d(50px, 0, 0) rotateY(-10deg);
    transform-origin: 90% 50%;
    transform-style: preserve-3d;
}
.nav-toggler {
    display: inline-block;
    font-size: 26px;
    left: 100%;
    padding: .5em;
    position: absolute;
    text-decoration: none;
}
.nav-toggler span {
    position: relative;
    z-index: 5;
}
.nav-toggler .hide-nav {
    display: none;
}
.expanded .nav-toggler .show-nav {
    display: none;
}
.expanded .nav-toggler .hide-nav {
    display: inline-block;
}
.expanded .nav-toggler:after {
    border-color: #1e2422 transparent transparent transparent;
}
.nav-toggler:after {
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: #35403c transparent transparent transparent;
    content: "";
    height: 0;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: border-color .3s ease-in-out;
    width: 0;
}
.navigation__inner {
    font-size: 22px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    width: 0;
}
.expanded .navigation__inner {
    display: block;
    width: 250px;
    overflow: hidden;
}
.navigation__inner h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.5em 1.5em 1.2em;
}
.navigation__inner ul {
    list-style: none;
    margin: 0;
    padding: 1em 0;
}
.navigation__inner li.separator {
    border-bottom: 1px solid white;
    margin: 1.5em 0 .5em;
}
.navigation__inner a {
    border-left: 0 solid #cf3e27;
    display: block;
    padding: .5em 2em;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.navigation__inner a.current {
    background: #191f1d;
    border-left-width: 10px;
}
.navigation__inner a:hover {
    background: #101312;
    border-left-width: 10px;
}
.top-menu {
    float: right;
    margin: 20px 20px 0;
    background-color: #FFF;   
}
.top-menu a {
    float: left;
    text-align: center;
    margin: 10px 10px 8px;
    color: #35403c;
}
.top-menu a:hover, .top-menu a.active {
    color: rgb(128,197,241);
}
.top-menu a span {
    display: block;
}
.content {
    padding: 4em;
    min-height: 550px;
    font-family: 'Open Sans' !important; 
}
.content-title {
    border-bottom: 5px solid white;
    position: relative;
    font-size: 3em;
    text-align: left;
    text-shadow: 2px 2px 0 rgba(128,197,241, 0.25), 4px 4px 0 white;
    text-transform: uppercase;
}
.content-title:before, .content-title:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
}
.content-title:before {
    border-bottom: 5px solid rgba(128,197,241, 0.25); 
    bottom: -3px;
    left: 0px;
}
.content-title:after {
    border-bottom: 5px solid #35403c;
    bottom: -1px;
    left: -4px;
}
.content-body {
    font-size: 14px;
    line-height: 1.5;
    color: #74777b;
    background-color: #fff;
}
.content-body:after {
    content: "";
    display: table;
    clear: both;
}
.content-body h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.form-wrapper {
    margin: 0 auto;
    padding: 35px 1em 1em;
}
.alert {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    text-shadow: none;
}
input:read-only {
    opacity: 0.5;
}
input.label_better {
    width: 100%;
    background: rgba(255,255,255,0.10);
    padding: 20px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
label.chkbox.focus, label.chkbox.focus.on {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1)!important;
}
.row label.chkbox {
    float: right;
}
.form-actions {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

/* Button Styles */
.nr-btn {
    padding: 10px 20px;
    font: normal 15px/22px Verdana;
    text-transform: uppercase;
    color: #6A6A6A;
    border: 2px solid #6A6A6A;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    display:inline-block;
    overflow: hidden;
    outline:medium none;
    position:relative;
    text-decoration:none;
    z-index:1;
    box-shadow:0 0 4px #999;
}
.nr-btn::after {
    background-color:#6A6A6A;
    left:50%;
    top:50%;
    height:0;
    width:150%;
    transform:translateX(-50%) translateY(-50%) rotate(25deg);
    position:absolute;
    content:"";
    transition:all 0.75s ease 0s;
    z-index:-1;
}
.nr-btn:hover::after{
    height:450%;
    opacity:1;
}
.nr-btn:hover, .nr-btn:active{
    color:#fff;
    text-shadow:0 1px 2px #898989;
}
.nr-btn i.im-floppy-disk {
    vertical-align: top;
}
/* Pagination */
a.pagination {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
a.pagination:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
a.pagination:active {
    background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}

/* Text Styles */
.text-bold {
    font-weight: bold;
}
.code-block {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
    border: 1px dashed #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ECEFF1;
}
.htaccess-function {
    color: #018be3;
    font-weight: bold;
}

/* Modal Window & Button */
.am-modal-content { 
    color: #FFF;
    padding: 25px;
    box-sizing: border-box;
}
.am-modal-content h1 {
    font-size: 32px;
    margin-top: 0;
    color: #FFF;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.am-modal-content p {
    text-align: left;
    font-size: 16px;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
.am-btn i {
    position: relative;
    top: 3px;
    font-size: 18px;
}
.ipp-btn{
    display: inline-block;
    border-radius: 3px;
    line-height: 100%;
    position: relative;
    top: -5px;
    left: 25px;
    padding: 0.45em;
    text-decoration: none;
    width: 200px;
    height: 25px;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #3079ED;
    color: #FFF;
}
.ipp-btn:hover {
    background: #317af2;
}
.ipp-btn.ipp-btn-outline {
    border: 2px solid #2b7caf;
    background: none;
    color: #2b7caf;
}
.ipp-btn.ipp-btn-outline:hover {
    border: 2px solid #2b7caf;
    background: #2b7caf;
    color: #fff;
}
.ipp-input-text {
    top: 25px;
}
div[class^='col-md-']:first-child {
    padding-left: 0;
    position: relative;
    left: 41px;
    text-align: left;
}
.ipp-main-table {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #dfdfdf; 
    border-radius: 6px; 
    border-collapse: separate; 
    border-spacing: 0px;
}
.ipp-main-table thead tr {
    color: #ffffff; 
    font-weight: bold; 
    background: #2b7caf;
}
.ipp-main-table tr td {
    border-right: 1px solid #dfdfdf;
    vertical-align: middle;
    padding: 20px 15px;
    outline: none!important;
}
.ipp-main-table tr td:last-child {
    border-right: 0px;
}
.ipp-main-table tbody tr:nth-child(1n) {
    background: #f6f6f6;
}
.ipp-main-table tbody tr:nth-child(2n) {
    background: #e6e6e6;
}
.ipp-main-table tbody tr:hover {
    /*background: rgba(128,197,241,0.5); 
    transition-duration: 0.6s;*/
}
.advanced-info-block {
    border: 2px dashed;
    margin: 20px 0;
    padding-left: 20px!important;
    padding-bottom: 20px!important;
}
.advanced-info-block p {
    margin: 0!important;
}
.advanced-info-block a {
    color: #80c5f1!important;
}
.logo-block {
    height: 0!important;
}
.logo {
    width: 170px;
    position: relative;
    top: 20px;
    left: 20px;;
}