* {box-sizing: inherit!important;
}
html {margin: 0;padding: 0;}ul, li {list-style: none;}
.well{border:none!important;border-top:solid 1px #ddd!important;}
.theme-files{border: solid 1px #ddd;}
input.btn, button.btn {    
    float: left;
    height: 34px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    transition: all 250ms;
    padding: 1px 16px;
	text-shadow:none!important;
	background-color: #e83636!important;
	background-image:none!important;
	}
input.btn:hover, button.btn:hover {    
	background-color: #018be3!important;
	background-image:none!important;
	}
.credit-osclasspro{clear: both;background: #FFF url("../img/background.png") repeat scroll 0% 0%;;padding: 20px;height: 35px;}
.pro_logo {display: block;float:left;opacity:0.7;margin-top:-12px;}
.pro_logo:hover  {opacity:1;}
.follow {float:right;color: #333;margin-top: 8px;}
.follow ul li:first-child {color: #333;font-weight: bold;position: relative;top: 3px;margin: 0 0 0 20px;}
.follow ul li {float: left;margin: -15px 5px 5px 5px;}
.follow li a {;opacity: 0.7;text-align: center;line-height: 1px;display: block;border-radius: 100%;font-size: 13px;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;}
.follow li a:hover {opacity: 1;}
.credit-osclasspro{clear: both;}
.pro_logo {display: block;float:left;opacity:0.7;}
.pro_logo:hover  {opacity:1;}
.follow {float:right;color: #333;margin-top: 10px;}
.follow ul li:first-child {font-weight: bold;position: relative;top: 3px;margin: 0 0 0 20px;}
.follow ul li {float: left;margin: -15px 5px 5px 5px;}
.follow li a {opacity: 0.7;text-align: center;line-height: 1px;display: block;border-radius: 100%;font-size: 13px;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;}
.follow li a:hover {opacity: 1;}
.follow li img{height: 40px;}
.donate {float: right;}
.osclasspro_address a,.form-label-checkbox a,.help-box a{color:#018BE3!important;}
.form-label{text-align: left!important;}
.ui-accordion .form-controls input {margin: 0 0 10px 15px;}
.fino_address {text-align: center;padding: 10px 0;background: #ddd;font-size: 11px;}
.fino_address span {display: block;line-height: 25px;}
.fino_address a, #documentation a{color: #1e8cbe;}
.fino_tab {background: #fafafa;border: 0;border-radius: 0;font-family: Verdana, Geneva, sans-serif;font-size: 12px;line-height: 22px;}
.theme-files h2{
color:#616161;
margin-top: 15px;
margin-bottom: 15px;
margin-left:10px;
font-size: 18px;}
.FinoTab{
display: block;
margin-top: -1px;
height: 50px;
background: #F9F8F8;
padding-top: 5px;
}
.FinoTab ul.hr {
    margin: 0;
padding-left: 5px;
}
.FinoTab ul.hr li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
    background: #fff;
    font-weight: normal;
    color: #555;
    border: 1px solid #F2F2F2;
   }
.FinoTab ul.hr li:hover {
	 background-color: #018be3!important;
    color: #fff;	 
	}
.FinoTab ul.hr li.active {
	 background-color: #018be3!important;	
	 color: #fff;
	}
	.FinoTab ul.hr li.active a{	
	 color: #fff;
	}
.FinoTab ul.hr li a:hover{
   color: #fff;
   }
   .FinoTab ul.hr li a:active{
   color: #fff;
   }
.FinoTab ul.hr li a {
    float: left;
    padding: .8em 1em;
    text-decoration: none;
	color: #555;
}

.form-row {color: #616161;line-height:12px;font-family:Verdana;font-size:12px!important;font-weight:normal;text-decoration: none;}
.osclasspro_address{font-size: 14px!important;}
.paginate{padding:25px;text-align:center;clear:both;}
.paginate li{display:inline;list-style-type:none;}
.paginate a, .paginate span{text-decoration:none;margin:0 1px;padding:5px 10px;border:#EEE solid 1px;}
.paginate a.previous{margin-right:15px;}
.paginate a.next{margin-left:15px;}
.paginate strong{border:#EEE solid 1px;color:#F30;margin:0 1px;padding:5px 10px;}
.paginate em{border:#EEE solid 1px;color:#AAA;font-style:normal;margin:0 1px;padding:5px 10px;text-decoration:none;}
.paginate em.previous{margin-right:15px;}
.paginate em.next{margin-left:15px;}
.paginate .searchPaginationSelected{background-color:#434343;color:#FFF;font-weight:bold;}
h2{color:#616161;margin: 30px;}
.div_seo_meta{font-family: sans-serif;font-size: 12px;color: #7a7a7a; width: 97%;//font-weight: bold;}
.div_seo_meta input, textarea{margin: 5px;padding: 5px;font-family: sans-serif;font-size: 12px;color: #7a7a7a;width: 100%;border: 1px #D1D1D1 solid;}
.div_seo_meta textarea{
    height: 100px;
}
.seo_category{
    margin: 0px;
    border: 1px #B0B0B0 solid;
    border-top: 1px #FFFFFF solid;
    padding:3px;
    background-color: #FaFcFc;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.seo_category:hover{
    background-color: #ccffff;
}
.seo_category_id{
    width: 50px;
    float: left;
    padding: 3px;
}
.seo_detail_box{
    width: 150px;
    float:right;
    padding: 5px;
}
.seo_detail_box_button{
    width: 50px;
    float:left;
    color: #1295bb;
}
.seo_detail_box_element{
    font-weight: normal;
    font-size: 10px;
    color: #00aa00;
    width: 100px;
    float:left
}
.seo_detail_box_element div{
    width: 30px;
    float:left;
    padding: 1px;
}
.help_box{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #7a7a7a;
    font-style: italic;
}

*{
  margin: 0;
    padding:0;

}

nav {
  text-align: center;
  margin: 5px 0;
  font-family: sans-serif;
  font-size:13px;
}

nav ul ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}

nav ul {
  background: #15afdb;
  background: linear-gradient(top, #15afdb 0%, #1295bb 100%);
  background: -moz-linear-gradient(top, #15afdb 0%, #1295bb 100%);
  background: -webkit-linear-gradient(top, #15afdb 0%,#1295bb 100%);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  padding: 0 0px;
  border-radius: 7px;
  list-style: none;
  position: relative;
  display: inline-table;
  border: 1px solid #027173;
}

nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
  }

nav ul li {
  float: left;
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #127692 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #127692 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#127692 40%);
  }

nav ul li:hover a {
      color: #ffffff;
      text-decoration: none;
    }

nav ul li a {
    display: block; 
    padding: 15px 5px;
    color: #e7e7e7;
    text-decoration: none;

  }

.seo_button{
    padding: 10px;
    margin-top: 20px;
}

.seo_copyright{
    float: left;
    margin-top: 10px;
}

.seo_help{
    background-color: #07b3a1;
    border: 1px #07b3a1 solid;
    margin-top: -10px;
    margin-bottom: 10px;
	margin-left: -10px;
    margin-right: -10px;
}

.seo_help_text{
    margin: 10px;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
}

.seo_help_button{
    margin-top: -25px;
    margin-right: 0px;
    width: 80px;
    float: right;
    background-color: #07b3a1;
    color: #F2F2F2;
    font-size: 13px;
    border: 1px #07b3a1 solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.seo_title_el{
    float:left;
    margin-left: 2px;
    width: 100px;
    background-color: #018be3;
	color:#fff;
}
.seo_title_el_name{
    font-size: 13px;
    padding: 7px;
    text-align: center;
    border: 1px solid #018be3;
    border-bottom: 0px;
    height: 20px;
}
.seo_title_button{
    width: 48px;
    text-align: center;
    float: left;
    cursor: pointer;
    background: #fff;
    padding: 0 0px;
    list-style: none;
    position: relative;
    display: inline-table;
    border: 1px solid #018be3;
	color:#616161;
}
.seo_title_button:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background-color: #e83636!important;
	color:#fff;
}

td{
    padding: 5px;
}

.seo_info span{
    float:right;
	margin-top: -4px;
}

.seo_pagination{
    width: 360px;
    margin: 0 auto;
    
}

.seo_pagination ul{
    position: relative;
    display: inline-table;
}

.seo_pagination ul li{
    float: left;
}
.seo_pagination ul li a, span.searchPaginationSelected{
    font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
    font-size: 13px;
    display: block;
    padding: 5px 10px;
    margin: 2px;
    color: #ffffff;
    text-decoration: none;
    background-color: #018be3;
    border: 1px solid #018be3;
    border-radius: 5px;
}

.seo_pagination ul li span.searchPaginationSelected{
    color: #2E2E2E;
    background-color: #FFFFFF;
}

.seo_pagination ul li a:hover{
    background-color: #e83636;
	 border: 1px solid #e83636;
}
.h2-bottom-line,.h3-bottom-line{
    position: relative;
    padding: 0 0 12px;
}
.h3-bottom-line:after{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    content: '';
    width: 100%;
    height: 2px;
    background: #414141;
    left: 0%;
}
.h2-bottom-line:after{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    content: '';
    width: 100%;
    height: 2px;
    background: #414141;
    left: 0%;
}
#bx{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}