.um-top-menu {
    margin: 0 0 0 15px;
    padding: 0;
    float: right;
	padding-right: 15px;
    padding-left: 15px;
}
@media only screen and (max-width: 480px) {
.um-top-menu {
    width: 100%;
    margin-top: 20px;
}
#msg-inbox_filter,#msg-inbox_length{
float: left;
margin-left: 5px;
}
div.dataTables_wrapper div.dataTables_length label {
white-space: normal;
}
.message-entry textarea {
    width: 90%!important;
}
}
.um-top-menu li {
    float: left;
    text-align: center;
    padding: 0 5px;
    font-size: 0.8em;
    list-style: none;
}

.um-top-menu li:last-child {
    padding-right: 0;
}

.um-top-menu li span {
    position: relative;
    top: -2px;
    font-size: 0.8em;
}

.um-top-menu li a {
    color: #018be3;
    opacity: 0.5;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.um-top-menu li a.active, .um-top-menu li a:hover {
    opacity: 1;
    text-decoration: none;
}

#dialog-delete-account {
    display: none;
}

#msg-inbox, #msg-archive, #msg-trash {
    width: 100%;
    overflow-x: auto;
    display: table;
}
@media only screen and (max-width: 900px) {
#msg-inbox,#msg-archive,#msg-trash{
    display: block;
}
}
#msg-inbox_wrapper,#msg-archive_wrapper,#msg-trash_wrapper,#msg-blocked_wrapper{margin: 10px;}
#msg-inbox_wrapper .col-md-6,#msg-archive_wrapper .col-md-6,#msg-trash_wrapper .col-md-6,#msg-blocked_wrapper .col-md-6{float: left;}
#msg-inbox, #msg-archive, #msg-trash, #msg-blocked {
    font-size: 14px;
}

#msg-inbox a, #msg-archive a, #msg-trash a, #msg-blocked a {
    text-decoration: none;
}

.um-table-actions {
    text-align: center;
    min-width: 100px;
}

.um-unreaded-msg {
    background-color: rgba(255,205,32,0.3) !important;
}

.um-unreaded-msg i.mdi-bell {
    color: #ff9900;
}

.um-table-actions a {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    margin: 0;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
	display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.um-table-actions a i{vertical-align: middle;}
.um-table-actions a:hover {
    opacity: 1;
}

.um-page-header {
    float: left;
    font-size: 1.7em;
    padding: 0;
	padding-right: 15px;
    padding-left: 15px;
}
.um-top-menu-block{
    display: block;
    margin: 10px;
}
.um-item-block {
    width: 240px;
    background-color: #fff;
    float: left;
	margin-left: 10px;
}
.um-message-send-h,.um-petition-h{margin-left: 10px;}
.um-item-resource img {
    width: 240px;
    height: 200px;
}
@media only screen and (max-width: 600px) {
.um-item-block,.um-message-send-block{
    width: auto;
}
.um-message-send-block{
    margin-left: 10px!important;
}
}
.um-item-details {
    padding: 10px 20px;
}

.um-item-details h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    word-break: break-word;
}

.um-item-details h2 a {
    text-decoration: none;
    color: #35c3d9;
}

.um-item-details h2 a:hover {
    border-bottom: 1px solid #35c3d9;
}

.um-item-price {
    font-size: 15px;
    font-weight: bold;
}

.um-item-location {
    font-size: 12px;
    color: #999;
}

.um-item-details p {
    margin: 0;
}

.um-message{
    background-color: #fff;
    padding: 15px 20px;
}


.um-message-send-block {
    margin-left: 300px;
	background-color: #fff;
}

.um-message .has-placeholder {
    padding: 0 !important;
    float: none !important;
}

.um-message .um-thread-name label {
    line-height: 38px;
    font-family: monospace;
    font-size: 15px;
}

.um-message .um-thread-name label:hover {
    cursor: text;
}

.um-message .um-thread-name {
    margin-bottom: 5px;
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
}

.um-message textarea {
    max-width: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.um-petition-help-block p{
    padding: 25px 15px;
    background-color: #f1f1f1;
    border: 2px dashed #c1c1c1;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
}

.um-message button {
    position: relative;
    border-radius: 4px;
    margin-top: 5px;
    line-height: 26px;
    padding: 7px 20px;
    color: #fff !important;
    font-size: 15px;
    display: inline-block;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: 0;
    background-color: #2d8adc!important;
    background-repeat: repeat-x;
}

.um-message button:before {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .2s;
}

.um-message button:hover:before {
    opacity: .1;
}

.um-message i.fa-paperclip {
    margin-right: 3px;
}

.um-message a, .um-message i.fa-paperclip {
    color: #35c3d9;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    top: 4px;
}

.um-message a:hover {
    border-bottom: 1px solid #35c3d9;
}
#msg-inbox_filter input,#msg-archive_filter input,#msg-trash_filter input,#msg-blocked_filter input,#msg-inbox_length select,#msg-archive_length select,#msg-trash_length select,#msg-blocked_length select{
	height: 30px!important;}
#msg-blocked_filter input,#msg-trash_filter input,#msg-archive_filter input,#msg-inbox_filter input{padding: 0!important;}
.alert {
    width: 100%;
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
    text-shadow: none;
    box-sizing: border-box;
}

.alert-block {
    padding: 15px 10px;
    color: #fff;
    clear: both; 
}

.alert-warning {
    background: #ffd542;
}

.alert-success {
    background: #22c222;
}

.alert-danger {
    background: #d90909;
}

.alert-info {
    background: #80c5f1;
}

.alert-default {
    background: #018be3;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}
.table {
    background-color: #fff;
}