span.session_time {
	color: #5c5c5c;
	font-size: 11px;
	margin-left: 20px;			
}
	
.box {
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px; 
	border: 1px solid #d5d5d5;
	box-shadow: 0 1px 0 rgba(0,0,0,0.11);
	margin-bottom: 3.0%;
}
	
.box:before, .box:after {
	content: "";
	display: table;
}

.box:after {
	clear: both;
}

.box .header {
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px; 
	position: relative;
	background: url(../images/nav_bg.png) repeat;
	box-shadow: inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,0.02);
}

.box .header h4 {
	position: relative;
	padding: 9px 0;
	padding-top: 8px;
	padding-left: 10px;
	border-bottom: 1px solid #c2c2c2;
	margin: 0;
	font-size: 13px;
	color: #444;
	line-height: 20px;
	font-weight: bold;
}

.box .content {
	padding: 0;
	margin: 0;
	background: #F6F6F6;
}

.box .content:before, .box .content:after {
	content: "";
	display: table;
}

.box .content:after {
	clear: both;
}

.clear {
	clear: both;	
}

.messages-layout {
    min-height: 400px;
	max-height: 465px;
	cursor: default!important;
	overflow-y: scroll;
	border-bottom: 1px solid #dfdfdf!important; 
    margin-bottom: 0;
}

#messages-list {
    padding-left: 0;
}

.messages-layout li { 
	margin: 0 16px 18px 16px;
	position: relative; 
	min-height: 36px; 
    list-style: none; 
}

.messages-layout li:first-child { 
	margin-top: 20px; 
}
	
.messages-layout .client > a, 
.messages-layout .server > a { 
	display: block;
	position: absolute; 
	top: 0;  
}

.messages-layout .client > a { 
	left: 0; 
}

.messages-layout .server > a { 
	right: 0; 
}

.messages-layout li img {
    width: 36px !important;
    border-radius: 5px;
}

.messages-layout .client .pointer, 
.messages-layout .server .pointer { 
	width: 8px; 
	height: 9px; 
	position: absolute;  
	top: 10px;  
}

.messages-layout .client .pointer { 
	background: url(../images/client.png) no-repeat; 
	left: -6px; 
}

.messages-layout .server .pointer { 
	background: url(../images/server.png) no-repeat; 
	right: -6px; 
}
		
.messages-layout .client .message-area, 
.messages-layout .server .message-area { 
	position: relative;
	padding: 8px 12px; 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box;  
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border: 1px solid; 
}

.messages-layout .client .message-area { 
	background: #fafeff; 
	margin-left: 52px; 
	border-color: #b5cdd7; 
} 

.messages-layout .server .message-area { 
	background: #fefefe; 
	margin-right: 52px; 
	border-color: #dcdcdc; 
} 

.message-area span.time {
	cursor: pointer;	
}
 
.message-area a span.delete {
    color: #949494 !important;
}

.message-area span.delete {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.message-area p {
	font-size: 12px;
	color: #606365;	
}

.client .user-name > a strong { 
	color: #2c596d; 
}

.server .user-name > a strong { 	
    color: #2c2c2c; 
}

.user-name a {
    text-decoration: none;
}

.user-name a:hover {
    color: #005580;
    text-decoration: underline;
}

.info-row a#delete-message {
    float: right;
}
		
.info-row { 
	font-size: 11px; 
	color: #949494; 
	margin-bottom: 20px; 
}

.info-row > .time { 
	float: right; 
}

.info-row > .user-name { 
	float: left; 
}

.message-entry { 
	position: relative; 
    margin-top: 16px;
}

.um-no-messages {
    text-align: center;
    padding: 50px 0;
    color: #444;
    font-family: "Osclass";
}

.message-entry textarea { 
	width: 96%; 
	height: 34px; 
	background: #fff;
	color: #404040;
	margin: 0 0 20px 18px;
	border: 1px solid #d5d5d5;  
	box-shadow: 0 1px 1px #fafafa; 
	-webkit-box-shadow: 0 1px 1px #fafafa; 
	-moz-box-shadow: 0 1px 1px #fafafa;
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
    resize: none;
    overflow-y: hidden;
    box-sizing: padding-box;
    transition:all 1s;
    -webkit-transition:all 1s;
    padding-right: 130px;
    box-sizing: border-box;
	resize: vertical;
	font-size: 1em;
    line-height: 1em;
}

.send-group { 
	display: block; 
	position: static;
    position: sticky;
    top: 0px;
	right: 32px;
    margin-top: -10px;	
    transition:all 1s;
    -webkit-transition:all 1s;
}

.send-group .attachPhoto,
.send-group .attachEmotions { 
	display: block; 
	float: left; 
	margin: 7px 0 7px 12px; 
	opacity: 0.4; 
	filter: alpha(opacity=40); 
}

.send-group .attachPhoto:hover,
.send-group .attachEmotions:hover { 
	opacity: 1; 
	filter: alpha(opacity=100); 
	-webkit-transition: opacity 0.2s ease-in-out; 
	-moz-transition: opacity 0.2s ease-in-out; 
	transition: opacity 0.2s ease-in-out; 
}

.send-group .attachPhoto { 
	width: 16px; 
	height: 16px; 
	background: url(../images/paper-clip.png) no-repeat; 
}

.message-attachments {
    font-size: 11px;
    border-top: 1px solid #ccc;
    padding: 10px 5px;
}

.message-attachments p {
    margin: 0 0 5px;
    font-size: 10px;
    color: #949494;
}

.message-attachments img[id*='img-'] {
    margin-right: 10px;
}

.message-attachments a {
    color: #018be3;
    text-decoration: none;
    border-bottom: 1px solid #018be3;
}

.send-group button[type="submit"] { 
	float: left; 
	display: block; 
	margin-left: 12px; 
	line-height: 15px; 
	height: 28px; 
}

.ibtn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: 2d8adc!important;
    border: none!important;
}

.ibtn-primary {
    color: #fff !important;
    background-color: #2d8adc!important;
}

.ibtn:hover {
    color: #333;
    text-decoration: none;
    background-color: #1475cb!important;
}

.ibtn-primary:hover, .ibtn-primary:active, .ibtn-primary.active, .ibtn-primary.disabled, .ibtn-primary[disabled] {
    color: #fff !important;
    background-color: #1475cb!important;
}

.alert-view-message, .alert-start-con {
    font-size: 14px !important;
    padding: 30px 15px !important;
}	

.alert-view-message a, .alert-start-con a {
    color: #018be3;
    text-decoration: none;
    border-bottom: 1px solid #018be3;
}

.alert-view-message a:hover, .alert-start-con a:hover {
    border-bottom: none;
}

.zoomContainer {
    margin: 0!important;
    padding: 0!important;
}