#content-head { 
	display:none;
}
#content-page {
	padding:0!important;
	font-size:14px;
}
.plugin-header {
	padding:25px;
	margin:0 -15px;
	background:#1590D2;
	color:#fff;
}
.plugin-header h1 {
	margin:0;
}
.sub-header {
	margin:0 -15px;
	padding:0 25px;
	background:#f1f1f1;
	border-bottom:1px solid #e5e5e5;
}
.sub-header ul {
	margin:0;
	padding:0;
	list-style:none;
}
.sub-header ul li {
	float:left;
	font-weight:600;
}
.sub-header ul li a {
	padding:13px 15px;
	display:block;
	color:#333;
}
.sub-header ul li.active {
	margin-bottom:-1px;
}
.sub-header ul li.active a {
	background:#fff;
	color:#1590D2;
	border-bottom:1px solid #fff;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	
}

.plugin-content {
	padding:25px 15px;
}

.plugin-content thead,
.plugin-content tfoot {
	background:#f7f7f7;
}
.plugin-content thead th, 
.plugin-content tfoot th {
	padding:5px 15px;
}
.plugin-content tbody td {
	padding:7px 15px;
}
.plugin-content tbody td.title {
	font-size: 16px;
	padding: 0;
}
.plugin-content tbody td.title p {
	margin: 0;
	padding: 10px 15px;
}

.plugin-content h3 {
	margin:0 0 3px 0;
}
.plugin-content p {
	margin:0 0 15px 0;
}

.has-pagination ul li:first-child a {
	border-left-width: 1px;
	border-radius: 3px 0 0 3px;
}
hr { margin:20px 0; height: 1px; border: 0; background: #ddd; }
.input-text, input[type="text"], 
.input-password, input[type="password"],
textarea,
select {
	/*width:300px;*/
}
textarea {
	height:150px;
}
input.input-has-select {
	border: 1px solid #ddd;
	border-radius: 3px;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}

.col5 {
	width:48%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.related_plugins li {
	display: inline-block;
}